/* You can add global styles to this file, and also import other style files */

body {
    font-family: "Open Sans";
    font-weight: 300;
    background-image: linear-gradient(to right, #f857a6, #ff5858);
    /* box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); */

}
/* div {
    font-family: "Open Sans";
    font-weight: 300;
    background-color: linear-gradient(right, #f857a6, #ff5858);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

} */


/* section {
    display: flex;
    /* align-content: ; */
    /* justify-content: end; */


/* }

button {
    float: right;
} */ 